<html>
    <head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../css/admin.css">
    </head>

<body>
   
     <div id="container">

     <div class="content">
            <h1>Dashboard</h1>
            <% for (let user of users ) {%>
                <div id="box">
                    <div class="box-top" class="userid">UserId: <%= user.username %></div>
                    <% for (let location of user.location ) { %>
                        <div class="box-panel">Longitude:Latitude =  <%= location %></div>
                    <% }%>
                </div>
             <%  } %>  

        </div>


    </div>
    <!-- #container -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="js/admin.js"></script>






</body>
</html>