<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/user.css">
    <title></title>
</head>
<body>
    <form action="/data" method="POST">
        
      
        <div class="container">
          <label for="uid"><b>UserId</b></label>
          <input type="text" placeholder="Enter UserId" name="UserId" required>
      
          <label for="pscode"><b>Postal Code</b></label>
          <input type="text" placeholder="Enter PostalCode" name="PostalCode" required>
      
          <button type="submit">View</button>
        
        </div>
      
      </form>
</body>
</html>
